
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   
}

body {
    background-image: url("https://png.pngtree.com/png-clipart/20190516/original/pngtree-elegant-watercolor-valentine-gradient-background-png-image_3560975.jpg");
    background-size: cover;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 16px;
    width: 62%;
    height: auto;
    margin: auto;   
    letter-spacing: 8%;
    align-self: center;
}
    
h1  {
    text-align: center;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 42px;
    width: 77%;
    margin: 11%;
    margin-bottom: 2%;
}
    
 .box {
    background-color: rgb(247, 247, 247);
    box-shadow: 2px 4px 12px 1px  rgb(142, 125, 125);
    margin:  9%;
    padding: 8%; 
    padding-left:15%;
} 
.text-box {   
    width: 60%;
    
}
.text-area {
    padding: 11%;
    width: 90%;   
    outline: none;
    resize: none;
}
p {
    margin-bottom: 2px;
    margin-top: 3%;
    padding-block: 8px;
}
select {
    margin-bottom: 20px;
}
div {
    margin-bottom: 6%;
    display: grid;   
}
.select-data {
    width: 35%;
}
.button {
width: 36%;
padding: 2%;
margin-left: 28%;
margin-top: 6%;
}

