body {
    background-size: cover;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 16px;
    
    box-shadow:rgb(142, 125, 125); 
    width: 900px;
    height: auto;
    margin: auto;
    background-image: center;
    letter-spacing: 8%;
}
    
h1  {
    text-align: center;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 42px;
    width: 77%;
    margin: 11%;
    margin-bottom: 2%;
}
    
.box {
    background-color: white;
    box-shadow: 2px 4px 12px 1px  rgb(142, 125, 125);
    margin:  9%;
    padding: 8%; 
    margin-top: 5%;
    width: 65%;
}
.text-box {   
    width: 77%;
}
.text-area {
    padding: 11%;
    width: 77%;   
    outline: none;
    resize: none;
}
p {
    margin-bottom: 2px;
    margin-top: 3%;
    padding-block: 8px;
}
select {
    margin-bottom: 20px;
}
div {
    margin-bottom: 10%;
    display: grid;   
}
.select-data {
    width: 35%;
}
.button {
width: 71%;
padding: 2%;
margin-left: 15%;
margin-top: 2%;
}

